{% extends 'base3.html.twig' %}
{% block title %}Validation
{% endblock %}

{% block body %}
    <div class="bg-light p-3">
     <p> Merci votre commande a été valider une livraison vous sera effectuer dans quelques heures </p>   
    </div>
{% endblock %}